.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100%;
	padding: 0rem 2rem 0rem 0rem;
}

.buttonGroup {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.buttonGroup > * {
	margin: 0rem 0rem 0.5rem 0rem;
}

.buttonGroup > *:last-child {
	margin: 0rem 0rem 0rem 0rem;
}