.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1rem 1rem 1rem 1rem;
}

.applicationContainer {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.contentContainer{
	height: 100%;
	flex: 1;
	overflow: scroll;
	padding: 0.1rem;
}
